* {
   box-sizing: border-box;
   scrollbar-color:  transperent transperent;
   scrollbar-width: 0px;
}
*::-webkit-scrollbar {
   width: 0;
 }
*::-webkit-scrollbar-track {
   background: transparent;
}
*::-webkit-scrollbar-thumb {
   background: transparent;
   border: none;
}
* {
   -ms-overflow-style: none;
}
body {
   width: 100vw;
   height: 100vh;
   background: rgb(180,58,58);
   background: linear-gradient(90deg, rgba(180,58,58,1) 34%, rgba(251,232,11,1) 60%, rgba(255,149,0,1) 100%);
   font-family: 'Lato', 'Times New Roman', Times, sans-serif;
   margin: 0;
}
.wrapper {
   max-width: 75rem;
   margin: 0 auto;
}
ol, li {
   list-style: none;
   margin: 0;
   padding: 0;
}
.carousel {
   position: relative;
   padding-top: 75%;
   filter: drop-shadow(100px 100px 100px rgba(211, 8, 230, 0.2));
   perspective: 100px;
}
.carousel__viewport {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   overflow-x: scroll;
   counter-reset: item;
   scroll-behavior: smooth;
   scroll-snap-type: x mandatory;
}
.carousel__slide {
   position: relative;
   flex: 0 0 100%;
   width: 100%;
   background-color: #f99;
   counter-increment: item;
   background-repeat:no-repeat ;
   background-size: cover;
}
.carousel__slide:nth-child(1) {
   background-image: url('./img/ukrainian-borscht-min.jpg');
}
.carousel__slide:nth-child(2) {
   background-image: url('./img/salat-min.jpg');
}
.carousel__slide:nth-child(3) {
   background-image: url('./img/toast-min.jpg');
}
.carousel__slide:nth-child(4) {
   background-image: url('./img/khachapuri-min.jpg');
}
.carousel__snapper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   scroll-snap-align: center;
}
.carousel__navigation {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   text-align: center;
}
.carousel__navigation-list,
.carousel__navigation-item {
   display: inline-block;
}
.carousel__navigation-button {
   display: inline-block;
   width: 1.5rem;
   height: 1.5rem;
   background-color: rgb(240, 224, 11);
   background-clip: content-box;
   border: 0.25rem solid transparent;
   border-radius: 50%;
   transition: transform 0.1s;
}
.carousel__navigation-button:hover {
   background-color: rgb(167, 23, 23);
}
.active__button {
   background-color: rgb(255, 255, 255);
   z-index: 1;
 }
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
   position: absolute;
   top: 0;
   margin-top: 37.5%;
   width: 4rem;
   height: 4rem;
   transform: translateY(-50%);
   border-radius: 50%;
}
.carousel::after,
.carousel__next {
   right: 0;
}
.carousel::before,
.carousel::after {
   content: '';
   z-index: 1;
   background-color: #333;
   background-size: 1.5rem 1.5rem;
   background-repeat: no-repeat;
   background-position: center center;
   color: #fff;
   font-size: 2.5rem;
   line-height: 4rem;
   text-align: center;
   pointer-events: none;
}
.carousel::before {
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
 }
 .carousel::after {
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
 }
 @keyframes tonext {
   75% {
     left: 0;
   }
   95% {
     left: 100%;
   }
   98% {
     left: 100%;
   }
   99% {
     left: 0;
   }
 }
 
 @keyframes tostart {
   75% {
     left: 0;
   }
   95% {
     left: -300%;
   }
   98% {
     left: -300%;
   }
   99% {
     left: 0;
   }
 }
 
 @keyframes snap {
   96% {
     scroll-snap-align: center;
   }
   97% {
     scroll-snap-align: none;
   }
   99% {
     scroll-snap-align: none;
   }
   100% {
     scroll-snap-align: center;
   }
 }

