*, *::before, *::after {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
   }
   html, body {
      height: 100%;
      min-width: 20rem;
   }
   body {
      line-height: 1;
   }
   .wrapper {
      min-height: 100%;
      font-family:'MedievalSharp', cursive;
      background: #d1913c; 
      background: -webkit-linear-gradient(to right, #d1913c, #ffd194);
      background: linear-gradient(to right, #d1913c, #ffd194);
   }
   li {
      list-style: none;
   }
   a {
      text-decoration: none;
   }
   [class*="__container"]{
      max-width: 90rem;
      margin: 0 auto;
      padding: 0px 1rem;
   }
   header{
      max-width: 100%;
      min-height: 5rem;
   }
   .header__container {
      min-height: 5rem;
      align-items: center;
   }
   .menu__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 5rem;
      font-size: 1.8rem;
      font-family: 'Grenze Gotisch', cursive;
      letter-spacing: 0.05rem;
   }
   .menu__list li:hover {
      text-decoration: underline;
   }
   .menu__link {
      color: black;
   }
   .search{
      width: 1.5rem;
      height: 1.5rem;
   }
   main {
      max-width: 120rem;
      margin: 0 auto;
   }
   .main__image {
      max-width: 100%;
      max-height:50rem;
      overflow: hidden;
      margin-bottom: 3rem;
   }
   .main__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   .main__image img {
      max-width: 100%;
      max-height: 100%;
   }
   .main__wrap {
      max-width: 30.6rem;
      max-height: 38.1rem;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 5rem;
   }
   .main__portrait {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
   }
   .text {
      font-size: 1.2rem;
      line-height: 27px;
      letter-spacing: 0.03rem;
      padding: 1rem 0px;
   }
   .main__item {
      list-style: inside;
      font-size: 1.2rem;
   }
   .image-wrap1 {
      max-width: 64rem;
      max-height: 45.5rem;
      margin: 1.5rem auto;
   }
   .image-wrap2 {
      max-width: 36.8rem;
      max-height: 50rem;
      margin: 1.5rem auto;
   }
   .image-wrap3 {
      max-width: 64rem;
      max-height: 41.8rem;
      margin: 1.5rem auto;
   }
   .image-wrap4 {
      max-width: 36.43rem;
      max-height: 50rem;
      margin: 1.5rem auto;
   }
   .image-wrap5 {
      max-width: 28.8rem;
      max-height: 31.2rem;
      margin: 1.5rem auto;
   }
   img {
      max-width: 100%;
      max-height: 100%;
   }