*, *::before, *::after {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
   }
   body {
      line-height: 1;
   }
   li {
      list-style: none;
   }
   a {
      text-decoration: none;
   }
   :root {
      --index: calc(1vw + 1vh);
   }
   .wrapper {
      position: relative;
   }
   .season {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .title {
      text-transform: uppercase;
      font-size: calc(var(--index) * 1.5);
      letter-spacing: calc(var(--index) * 1);
   }
   .winter {
      background: url(./image/winter.jpg);
      transform: translate3d(0, calc(var(--scrollTop) / 1), 0);
      will-change: transform;
      object-fit: contain;
      background-position: center;
   }
   .text-wrapp {
      z-index: 1;
   }
   .winter__title {
      color: rgb(0 0 0);
      text-shadow: 0 0 20px rgb(0 0 0);
   }
   .spring {
      background: url(./image/spring.jpg);
      transform: translate3d(0, calc(var(--scrollTop) / 3), 0);
      will-change: transform;
      object-fit: contain;
      background-position: center;
   }
   .spring__title {
      color: rgb(128, 17, 39);
      text-shadow: 0 0 20px rgb(204, 51, 82);
   }
   .summer {
      background: url(./image/summer.jpg);
      transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
      will-change: transform;
      object-fit: contain;
      background-position: center;
   }
   .summer__title {
      color: rgb(153 127 0);
      text-shadow: 0 0 20px rgb(231 160 0);
   }
   .autumn {
      background: url(./image/autumn.jpg);
      transform: translate3d(0, calc(var(--scrollTop) / 7), 0);
      will-change: transform;
      object-fit: contain;
      background-position: center;
   }
   .autumn__title {
      color: rgb(255 255 255);
      text-shadow: 0 0 20px rgb(255 255 255);
   }