@font-face {
	font-family: "Objective";
	font-style: normal;
	font-weight: 400;
	src: local("Objective"),
			url("./fonts/Objective-Regular.woff2") format("woff2"),
			url("./fonts/Objective-Regular.woff2") format("woff");
}
@font-face {
	font-family: "Objective-Bold";
	font-style: normal;
	font-weight: 700;
	src: local("Objective-Bold"),
			url("./fonts/Objective-Bold.woff2") format("woff2"),
			url("./fonts/Objective-Bold.woff2") format("woff");
}
@font-face {
	font-family: "Objective-Medium";
	font-style: normal;
	font-weight: 500;
	src: local("Objective"),
			url("./fonts/Objective-Medium.woff2") format("woff2"),
			url("./fonts/Objective-Medium.woff2") format("woff");
}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 1rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "Objective";
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


[class*="__container"] {
   max-width: 61.25rem;
   margin: 0 auto;
	padding: 0 15px;
}
.blue-text {
	color: #4A99D3;
}
.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.background-wrapp {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(74, 153, 211, 0.208018) 100%);
	box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
}
.header {
	max-height: 5.6rem;
}
.header__container {
   display: flex;
   justify-content: space-between;
	height: 5.6rem;
}
.header__logo {
	font-family: 'Objective-Bold';
	font-size: 2.4rem;
	line-height: 2.5rem;
	color:  #4A99D3;
	padding: 2.8rem 0 0 0;
	text-transform: uppercase;
	}
.menu__list {
   display: flex;
   gap: 3.2rem;
	font-size: 1.3rem;
}
.menu__list li:hover {
	text-decoration: underline;
}
.menu__item {
	padding: 3.75rem 0 0 0;
}
.menu__link {
	color: black;
}

/*-------------------------------------------------------------------------------*/

.main {
   flex: 1 1 auto;
}
.main__container {
	display: flex;
	align-items: center;
}
.e-commerce-block{
	display: flex;
	margin: 5.3rem 0 0 0;
}
.text-block-button {
	margin: 0 4.3rem 0 0;
   flex: 1 1 71%;
	margin: 0 4.3rem 0 0;
}
.text-block-button__title {
	font-family: 'Objective-Medium';
	font-size: 3.1rem;
	line-height: 4.3rem;
	letter-spacing: 0.02rem;
	color: #260041;
	margin: 5.3rem 0 0 0;
	}
.text-block-button__paragraf {
	font-family: 'Objective';
	font-size: 1.25rem;
	line-height: 2.25rem;
	color: #260041;
	padding: 0.8rem 0 3.75rem 0;
}
.img__button {
	width: 11.25;
	height: 3.75rem;
	border-radius: 5px;
	margin: 0 1.25rem 0 0;
}
.main__img-block {
	display: flex;
	position: relative;
	min-height: 33.3rem;
	flex: 1 1 29%;
}
.mockup {
	position: absolute;
	z-index: 1;
}
.medium {
	bottom: 0;
	z-index: 5;
}
.large {
	bottom: 0;
	left: 10rem;
}

/*----------------------------------------------------------------------------------------*/

.card-block__wrapp {
	background: #FFFFFF;
	position: relative;
	min-height: 92.1rem;
}
.cards-block__container {
	position: relative;
	height: 100ch;
}
.block__ractangle {
	height: 0;
}
.ractangle {
	width: 141.31px;
	height: 118.57px;
	border: 6px solid #4A99D3;
	border-radius: 4px;
	position: absolute;
	z-index: 1;
}
.one {
	border: 0.5rem solid #4A99D3;
	top: 0;
	right: 1rem;
}
.two {
	top: 33px;
	right: 50px;
}
.three {
	top: 80px;
	right: -60px;
}
.four {
	border-color: #D3844A;
	bottom: 0;
	left: 16px;
	
}
.five {
	border-color: #D3844A;
	bottom: 33px;
	left: 50px;
	
}
.six {
	border: 8px solid #D3844A;
	bottom: 80px;
	left: -60px;
}
.cards-block__content {
	margin: 9.3rem 0 0 0;
	width: 24.8rem;
	height: 8.6rem;
	position: relative;
}
.cards-block__text {
	font-family: 'Objective-Medium';
	font-style: normal;
	font-size: 2.25rem;
	line-height: 2.8rem;
	letter-spacing: 0.05em;
	color: #260041;
}
.cards {
	width: 23.75rem;
	height: 32.8rem;
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
	border-radius: 10px;
	position: absolute;
	z-index: 10;
}
.cards-img {
	margin: 48px 78px 0;
}
.img-cards__wrapp {
	height: 33%;
}
.img-cards {
	position: absolute;
	top: -70px;
}
.cards-title {
	font-family: 'Objective-Medium';
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.02rem;
	color: #0F001A;
	margin: 60px 278px 16px 48px;
}
.cards-paragraf {
	font-family: 'Objective';
	font-style: normal;
	line-height: 1.6rem;
	color: #0F001A;
	opacity: 0.6;
	max-width: 17.75rem;
	max-height: 6.4rem;
	margin: 0 48px 60px;
}
.cards-link {
	font-family: 'Objective-Medium';
	font-style: normal;
	font-size: 0.8rem;
	line-height: 1.8rem;
	color: #4A99D3;
	margin: 0 0 48px 48px;
}
.cards-link:hover {
	text-decoration: underline;
}
.cards-link::after {
	content: url('./img/carads/arrow.svg');
	padding: 3px 0 0 19px;
	position: absolute;
}
.ellipse {
	position: absolute;
	z-index: 1;
}
.send {
	right: 0;
	top: 0;
}
.buy {
	right: 0;
	top: 700px;
}
.receive {
	left: 90px;
   top: 315px;
}
.ellipse1 {
	right: -71px;
	top: -71px;
}
.ellipse2 {
	top: 490px;
   left: -10px;
}
.ellipse3 {
	right: -71px;
   bottom: -111px;
}
.ellipse4 {
	right: 0;
   bottom: 240px;
}

/*-------------------------------------------------------------------------------------*/

.how-it-works {
	background: rgba(74, 153, 211, 0.1);
}
.title {
	font-family: 'Objective-Bold';
	font-size: 1.6rem;
	line-height: 1.6rem;
}
.how-it-works__title {
	padding: 95px 0 90px;
	color: #4A99D3;
	text-align: center;
}
.how-it-works__block {
	display: flex;
	justify-content: space-between;
	gap: 30px
}
.how-it-works__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 95px;
}
.item__title {
	font-family: 'Objective-Medium';
	font-size: 1.1rem;
	line-height: 1.1rem;
	color: #0F001A;
	margin: 35px 0 10px 0;
	text-align: center;
}
.item__paragraf {
	line-height: 1.6rem;
	text-align: center;
	color: #0F001A;
}

/*---------------------------------------------------------------------------------------*/

.client-say__wrapper {
	display: flex;
}
.client-say__title {
	margin: 150px 0 0 0;
	text-align: center;
}
.carousel-wrapper {
	position: relative;
   min-height: 519px; 
	flex:1 1 47%;
}
.carousel-background {
	position: absolute;
	bottom: 0;
	background: rgba(74, 153, 211, 0.1);
	width: 100%;
	height: 25rem;
}
.carousel-item {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0;
	transition: all 0.5s ease-in-out;
}
[id^="item"] {
	display: none;
}
.item-1 {
	z-index: 2;
	opacity: 1;
	background:url('./img/client-say/image\ 1.png');
	background-size:contain;
	background-repeat: no-repeat;
 
 }
.item-2{
	background:url('./img/new-e-commerce/mockup1.svg');
	background-size:contain;
	background-repeat: no-repeat;
}
*:target ~ .item-1 {
	opacity: 0;
}
#item-1:target ~ .item-1 {
	opacity: 1;
}
#item-2:target ~ .item-2 {
	z-index: 3;
	opacity: 1;
}
.client__wrapp {
	display: flex;
	flex: 1 1 53%;
	position: relative;
}
.client__paragraf {
	font-family: 'Objective';
	line-height: 1.5rem;
	color: #0F001A;
	opacity: 0.5;
	max-width: 25rem;
	margin: 0 0 40px 0;
}
.client__comets {
	padding: 211px 0 40px 100px;
}
.quotes {
	margin: 0 0 43px 0;
}
.client__name {
	font-family: 'Objective-Medium';
	font-size: 1.1rem;
	line-height: 1.1rem;
	color: #0F001A;
	margin: 0 0 37px 0;
}
.button-group {
	display: flex;
	justify-content: flex-end;
}
.button {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 5rem;
	height: 5rem;
	border-radius: 4px 0px 0px 4px;
	text-align: center;
	transition: background-color 0.1s ease 0s;
}
.next {
	background: #4A99D3;
	border-radius: 4px 0px 0px 4px;
}
.next:hover {
	background-color: #0a6eb4;
}
.prev {
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}
.prev:hover {
	background-color: #ddd8d8;
}
.arrow {
	width: 20px;
	height: 20px;
	border-top: 4px solid #6E18C0;
	border-right: 4px solid #6E18C0;
}
.arrow-next {
	transform: rotate(-135deg);
	border-top: 4px solid #FFFFFF;
	border-right: 4px solid #FFFFFF;
}
.arrow-prev {
	transform: rotate(45deg);
	border-top: 4px solid #4A99D3;
	border-right: 4px solid #4A99D3;
}

/*-------------------------------------------------------------------------------------*/

.downloand-app {
	position: relative;
}
.downloand-app__container {
	min-height: 700px;
	display: flex;
}
.downloand-app__img {
	flex: 1 1 46%;
	position: relative;
	margin: 118px 0 0 0;
}
.mockup-1 {
	z-index: 10;
   right: 175px;
}
.mockup-2 {
	left: -112px;
   bottom: 178px;
}
.mockup-3 {
	right: 38px;
	bottom: 178px;
}
.downloand-app__content {
	flex: 1 1 54%;
}
.downloand-app__title {
	margin: 232px 32px 16px 0;
	color: #0F001A;
	text-align: end;
}
.downloand-app__paragraf {
	width: 88%;
	margin: 0 auto;
	font-family: 'Objective';
	line-height: 24px;
	text-align: end;
	color: #0F001A;
	opacity: 0.5;
}
.downloand-app__buttons {
	display: flex;
	justify-content: center;
	gap: 28px;
	margin: 60px 0 0 0;
}
.blue-border1 {
	border-color: #4A99D3;
	left: 50px;
	bottom: -15px;
}
.blue-border2 {
	border-color: #4A99D3;
	left: -70px;
	bottom: 30px;
}
.blue-border3 {
	border: 8px solid #4A99D3;
	bottom: -50px;
	left: 16px;
}
.brown-border1 {
	border: 8px solid #D3844A;
	bottom: 30px;
	right: 16px;
}
.brown-border2 {
	border-color: #D3844A;
	bottom:0;
	right: 50px;
}
.brown-border3 {
	border-color: #D3844A;
	bottom: -55px;
	right: -60px;
	z-index: 1;
}

/*-------------------------------------------------------------------------------------*/

.footer {
	background: #4A99D3;
	z-index: 10;
}
.footer__top {
	border-bottom: 2px solid #FFFFFF;
}
.container {
	max-width: 1222px;
   margin: 0 auto;
	padding: 0 15px;
}
.footer__top-container {
	display: flex;
	gap: 60px;
}
.footer__logo {
	font-family: 'Objective-Bold';
	font-size: 34px;
	line-height: 35px;
	color: #FFFFFF;
	margin: 55px 145px 0 0;
	text-transform: uppercase;
}
.footer__wrap-column {
	display: flex;
   gap: 60px;
	white-space: nowrap;
}
.footer__label {
	display: inline-block;
	font-family: "Objective-Medium";
	font-size: 18px;
	line-height: 19px;
	color: #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	padding: 0 0 2px 0;
	margin: 57px 0 34px 0;
}
.menu-footer__item {
	margin: 0 0 18px 0;
}
.menu-footer__link {
	font-family: 'Objective';
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
	margin: 0 0 18px 0;
}
.menu-footer__link:hover {
	text-decoration: underline;
}
.form__paragraf {
	font-family: 'Objective';
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
	margin: 56px 0 20px 0;
	max-width: 364px;
}
.form {
	display: flex;
	gap: 10px;
}
.form__email {
	width: 268px;
	height: 50px;
	background: #FFFFFF;
	border-radius: 3px;
	padding-left: 10px;
}
.form__button {
	width: 116px;
	min-height: 50px;
	background: #FFFFFF;
	border-radius: 3px;
	transition: background-color 0.1s ease 0s;
	font-family: 'Objective-Bold';
	line-height: 17px;
	color: #4A99D3;
}
.form__button:hover {
	transition: 1;
	background-color: #ddd8d8;
}
.footer__bottom-container {
	display: flex;
	justify-content: space-between;
}
.footer__copyrate {
	margin: 23px 0;
	font-family: 'Objective-Bold';
	font-size: 10.41px;
	line-height: 11px;
	color: #FFFFFF;
}
.footer__social {
	padding: 23px 0;
}
.social__item {
	margin-right: 25px;
}
@media (max-width:1272px) {
	.footer__top-container {
		flex-direction: column;
		text-align: center;
		align-items: center;
}
.footer__wrap-column {
	justify-content: space-between;
	width: 100%;
}
.large {
	display: none;
}
}
@media (max-width:1160px) {
	.mockup-2 {
		display: none;
}
}
@media (max-width:1025px) {
	[class*="__container"] {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 15px;
}
	.e-commerce-block {
		display: flex;
		margin: 0 0 0 0;
}
	.send {
		right: 0px;
}
	.receive {
		left: 0;
		top: 315px;
}
	.buy {
		right: 0px;
		}
	.client__wrapp {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
}
	.client-say__wrapper {
		display: flex;
		flex-direction: column;
}
	.carousel-background {
		width: 100%;
}
	.client__comets {
		padding: 100px 0 40px 0px;
}
	.client__name {
		margin: 40px 0 40px 0;
}
	.button-group {
		justify-content: center;
}
	.client__paragraf {
		width: 80%;
		text-align: center;
		margin: 0 auto;
}
	.mockup-2, .mockup-3, .ellipse {
		display: none;
}
	.mockup-1 {
		position: fixed;
}
	.downloand-app__title {
		text-align: center;
}
	.downloand-app__paragraf {
	text-align: center;
}
	.downloand-app__container {
		min-height: 450px;
		display: block;
}
	.footer__logo {
		margin: 55px 0px 0;
}
}

@media (max-width:780px) {
	[class*="__container"] {
		max-width: none;
		margin: 0 auto;
		padding: 0 15px;
	}
	.header__container {
		gap: 20px
	}
	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.e-commerce-block {
		display: flex;
		margin: 0 0 0 0;
  }
  	.main__img-block, .medium, .ractangle, .ellipse, .downloand-app__img {
		display: none;
}
	.text-block-button {
		flex: 1 1 100%;
		margin: 0 0 0 0;
		text-align: center;
	}
.cards-block__container {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.cards-block__content {
	width: 100%;
	height: 138px;
	position: relative;
	text-align: center;
}
.cards {
	position: static;
	margin: 50px auto;
}
.img-cards {
	position: relative; 
}
.downloand-app__title {
	margin: 100px 0 50px 0;
	text-align: center;
}
.footer__top-container {
	flex-direction: column;
}
.footer__logo {
	margin: 55px 0 0;
}
.form__paragraf {
	margin: 56px auto;
	text-align: center;
}
.form {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
}
@media (max-width:666px) {
	.footer__logo {
		display: none;
	}
}
@media (max-width:525px) {
	.header__logo {
		display: none;
	}
	.header__container {
		justify-content: space-around;
  }
  .cards-block__content {
		margin-bottom: 1.5rem;
  }
  .footer__wrap-column {
		gap: 20px;
}
}
@media (max-width:450px) {
.img-link-block {
	display: flex;
}
	.footer__bottom-container {
	flex-direction: column;
	align-items: center;
}
.text-block-button__title {
	font-size: 2.5rem;
	line-height: 3.5rem;
}
}
