*, *::before, *::after {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
   }
   html, body {
   height: 100%;
   min-width: 20rem;
   }
   body {
   line-height: 1;
   font-family: sans-serif;
   }
   .wrapper {
   height: 100%;
   }
.grid-container {
display: grid;
height: 100%;
}
header {
background-color: blue;
display: grid;
align-items: center;
text-align: center;
padding: 1rem;
}
.header__title {
color: #fff;
}
.nav {
background-color: orange;
padding: 1rem;
}
.link {
background-color: brown;
padding: 1rem;
}
main {
padding: 1rem;
}
.main__title {
padding: 1rem;
}
.main__text {
padding: 0.5rem;
}
footer {
background-color: green;
display: grid;
align-items: center;
text-align: center;
padding: 1rem;
}
.footer__title {
color: #fff;
}

@media (min-width: 992px) {
   .grid-container {
   display: grid;
   height: 100%;
   grid-template-columns: auto 70% auto;
   grid-template-rows: auto 70% auto;
   }
   header {
   grid-column-start: 1;
   grid-column-end: 4;
   display: grid;
   }
   .nav {
   grid-row-start: 2;
   grid-column-start: 1;
   }
   footer {
   grid-column-start: 1;
   grid-column-end: 4;
   }
}