*, *::before, *::after {
margin: 0;
padding: 0;
border: none;
box-sizing: border-box;
}
html, body {
   height: 100%;
   min-width: 20rem;
}
body {
   line-height: 1;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
}
.wrapper {
   display: flex;
   font-family: 'Roboto', sans-serif; 
}
.nav-wrapper {
   min-width: 253.2px;
   border-right: 2px solid black;
   background-color: #e2e3e1;
}
.nav-title {
   display: block;
   padding: 0.8rem;
   color: black;
   display: block;
   background-color: #e2e3e1;
   border-bottom: 1px solid #c6c6c6;
}
.navigation {
   position: fixed;
   display: block;
   height: 100%;
}
.tab-list li a {
   display: block;
   padding: 0.8rem;
   color: black;
   background-color: #e2e3e1;
   border: 1px solid #c6c6c6;
}
.tab-list li a:hover {
   background-color: #eee;
}
.tab-list li a:last-child {
   border-bottom: none;
}
.content {
   height: 100%;
   flex: 85%;
}
.title {
   padding: 1rem;
}
.subtitle {
   padding: 1rem;
}
.list-item {
   padding: 0.5rem;
   list-style: inside;
}
.paragraf {
   padding: 1rem;
}
dt {
   padding: 1rem;
}
dd {
   padding: 1rem;
}
span {
   display: inline-block;
   padding: 0.5rem;
   color: black;
   background-color: #e2e3e1;
   border-radius: 0.5rem;
}
code {
   font-size: 1rem;
}

