*, *:after, *:before {
   box-sizing: border-box;
}
body {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #222;
   height: 100vh;
}
.container {
   display: flex;
   align-items: center;
   overflow: hidden;
   height: 50vh;
   width: 50%;
}
.food {
   display: flex;
   justify-content: space-around;
   width: 100%;
   animation: food 0.5s linear infinite;
}
.food::before {
   content: '';
   background-color: #fff;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
}
@keyframes food {
   0% {
   transform: translateX(50%);
   }
   100% {
   transform: translateX(-50%);
   }
}
.pacman {
   position: relative;
   background: transparent;
   z-index: 1;
}
.pacman::before, .pacman::after {
   content: '';
   position: absolute;
   top: -35px;
   display: block;
   border-radius: 50%;
   height: 0px;
   width: 0px;
}
.pacman::before {
   animation: chunk-top 0.5s ease infinite;
   border: 35px solid #ffcc00;
   border-left-color: transparent;
   border-bottom-color: transparent;
}
@keyframes chunk-top {
   0%, 100% {
   transform: rotate(-45deg);
   }
   50% {
   transform: rotate(-80deg);
   }
}
.pacman::after{
   animation: chunk-bottom 0.5s ease infinite;
   border: 35px solid #ffcc00;
   border-right-color: transparent;
   border-top-color: transparent;
}
@keyframes chunk-bottom {
   0%, 100% {
   transform: rotate(-40deg);
   }
   50% {
   transform: rotate(0deg);
   }
}