*, *::before, *::after {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
   }
   html, body {
   height: 100%;
   min-width: 20rem;
   font-family: sans-serif;
   }
   body {
   line-height: 1;
   }
   .wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   }
header {
background-color: blue;
min-width: 100%;
text-align: center;
min-height: 4rem;
padding: 1rem;
}
.header__title {
color: #fff;
}
.nav {
background-color: orange;
min-width: 15%;
padding: 1rem;
}
.link {
background-color: brown;
min-width: 15%;
padding: 1rem;
}
main {
display: flex;
flex: 1 1 auto;
}
.main__block {
background-color: rgb(187, 35, 201);
min-width: 70%;
padding: 1rem;
}
.main__title {
padding: 0.5rem;
}
.main__text {
padding: 0.5rem;
}
footer {
background-color: green;
min-width: 100%;
min-height: 4rem;
text-align: center;
padding: 1rem;
}
.footer__title {
color: #fff;
}
@media (max-width:992px) {
   main {
   display: flex;
   flex-direction: column;
   }
   .main__block {
   flex-grow: 20;
   }
   .link {
   flex-grow: 1;
   }
   .nav {
   flex-grow: 1;
   }
}