* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.form-bio, #formSelect, .form-email, .form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: rgb(48, 73, 119);
  font-family: sans-serif;
  font-size: 1rem;
}

.container {
  width: 50rem;
  height: 50rem;
  background-color: #f0eaea;
  margin: 0 auto;
  border: 1px solid #c6c6c6;
  border-radius: 0.4rem;
}
.container .title {
  color: black;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
}
.container .form-container {
  width: 100%;
  height: 80%;
  background-color: white;
  border: 1px solid #c6c6c6;
}

label {
  color: green;
  padding-bottom: 0.5rem;
}

.form-wrapp {
  display: flex;
}

.form-group-reverse {
  display: inline-flex;
  flex-direction: column-reverse;
  margin: 0 2rem 0 2rem;
  margin-top: 1.2rem;
}

.form-group {
  display: inline-flex;
  flex-direction: column;
  margin: 0 2rem 0 2rem;
  margin-top: 1.2rem;
}

.form-inline {
  display: flex;
  justify-content: space-between;
}

.form-control {
  width: 19rem;
}

.form-email {
  width: 46rem;
}

.form-range {
  width: 21rem;
  margin-top: 1.2rem;
}

#youRange {
  width: 17rem;
}

.range-wrapp {
  display: flex;
}

.radio-wrapper {
  margin: 0 2rem 0 2rem;
  margin-top: 1.2rem;
  color: green;
}
.radio-wrapper p {
  padding-bottom: 0.5rem;
}
.radio-wrapper .radio-wrapp {
  display: flex;
}
.radio-wrapper .radio-wrapp label {
  color: black;
}

.checkbox {
  display: flex;
  width: 19rem;
  gap: 1.2rem;
  text-align: center;
}
.checkbox label {
  color: black;
}

.checkbox-wrapp {
  width: 42%;
  margin-top: 1.2rem;
}
.checkbox-wrapp p {
  color: green;
  padding-bottom: 0.5rem;
}

.checkbox-item {
  gap: 1rem;
}

#formSelect {
  width: 19rem;
}

#range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 4px 1px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.form-bio {
  width: 46rem;
}

button {
  margin: 0.8rem 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  float: right;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #2c974b;
}

button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

input:required + label::after {
  content: "*";
  font-size: 1.5rem;
  position: relative;
  top: 6px;
}

input:required:invalid + label::after {
  color: red;
}

input:required:valid + label::after {
  color: green;
}/*# sourceMappingURL=style.css.map */