@import "nullstyle.scss";

%form-style {
display: block;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 0.375rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
$margin: 0 2rem 0 2rem;
$margin-top: 1.2rem;
$pading-bottom: 0.5rem;
.wrapper {
width: 100%;
height: 100%;
background-color: rgb(48, 73, 119);
font-family: sans-serif;
font-size: 1rem;
}
.container {
width: 50rem;
height: 50rem;
background-color: #f0eaea;
margin:0 auto;
border: 1px solid #c6c6c6;
border-radius: 0.4rem;
   .title {
   color: black;
   text-align: center;
   font-size: 2rem;
   padding: 2rem 0;
   }
   .form-container {
   width: 100%;
   height: 80%;
   background-color: white;
   border: 1px solid #c6c6c6;
   }
}
label {
color: green;
padding-bottom: $pading-bottom;
}
.form-wrapp{
display:flex;
}
.form-group-reverse {
display: inline-flex;
flex-direction: column-reverse;
margin: $margin;
margin-top: $margin-top;
}
.form-group {
display: inline-flex;
flex-direction: column;
margin: $margin;
margin-top: $margin-top;   
}
.form-inline {
display:flex;
justify-content: space-between;
}
.form-control {
@extend %form-style;
width: 19rem;
}
.form-email {
@extend %form-style;
width: 46rem;
}
.form-range {
width: 21rem;
margin-top: $margin-top;
}
#youRange {
width: 17rem;
}
.range-wrapp {
display: flex;
}
.radio-wrapper {
margin: $margin;
margin-top: $margin-top;
color: green;
p {
padding-bottom: $pading-bottom;
}
.radio-wrapp {
display: flex;
   label {
   color: black;
   }
}
}
.checkbox {
display: flex;
width: 19rem;
gap: 1.2rem;
text-align: center;
label {
color: black;
}
}
.checkbox-wrapp {
width: 42%;
margin-top: $margin-top;
p {
color: green;
padding-bottom: $pading-bottom;
}
}
.checkbox-item {
gap: 1rem
}
#formSelect {
@extend %form-style;
width: 19rem;
}
#range {
appearance: none;
background-color: #2ea44f;
border: 1px solid rgba(27, 31, 35, .15);
border-radius: 6px;
box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: 600;
line-height: 20px;
padding: 4px 1px;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;
}
.form-bio {
@extend %form-style;
width: 46rem;
}
button {
margin: 0.8rem 2rem;
appearance: none;
background-color: #2ea44f;
border: 1px solid rgba(27, 31, 35, .15);
border-radius: 6px;
box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
font-size: 14px;
font-weight: 600;
line-height: 20px;
padding: 6px 16px;
position: relative;
float: right;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;
}
button:focus:not(:focus-visible):not(.focus-visible) {
box-shadow: none;
outline: none;
}
button:hover {
background-color: #2c974b;
}
button:focus {
box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
outline: none;
}
button:disabled {
background-color: #94d3a2;
border-color: rgba(27, 31, 35, .1);
color: rgba(255, 255, 255, .8);
cursor: default;
}
button:active {
background-color: #298e46;
box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
input:required + label::after {
content: "*";
font-size: 1.5rem;
position: relative;
top: 6px
}
input:required:invalid + label::after {
color: red;
}
input:required:valid + label::after {
color: green;
}

